[submodule "ext/lunar-sol2"]
	path = ext/lunar-sol2
	url = https://github.com/norrbotten/lunar-sol2.git
[submodule "ext/ixwebsocket"]
	path = ext/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git
